// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: #000;
$body-color: white;
$primary: rgb(105, 255, 138);
$font-family-base: Arial;

// Include all Bootstrap
@import "~bootstrap/scss/bootstrap";

// Add you custom CSS
body {
  padding: 20px;
}
h1 {
  font-size: 100px;
}
.container {
  justify-content: space-around;
}
.card {
  margin: 10px auto;
  max-width: 300px;
}
